@import '../../sass/mixins';
@import '../../sass/variables';

.loading {
  text-align: center;
  margin: 1em;
}

.filter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homepage {
  @include pageLayout($navBarGreen)
  color: $white;
  min-height: 50em;
}

label {
  margin-right: 1em;
}

.homepage-header {
  text-align: center;
  margin-top: 0;
  background: $navBarGreen;
  color: $white;

}

.filtered-products {
  @include flexRow();
  flex-wrap: wrap;
  height: auto;
  background: $white;
  margin: 1em;
  border: 2px solid green;
}
