@import '../../sass/mixins';
@import '../../sass/variables';

.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  background: $gray;
}

.listing-portion {
  width: 50%;
}
.product-header {
  margin: .5em 0;
  text-align: center;
}

.product-text-container {
  padding: 1em;
  border: 2px solid $green;
  margin-bottom: 1em;
  background: $white;
}

.product-image-area {
  // width: 50%;
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.product-image {
  object-fit: contain;
  overflow: hidden;
  border: 2px solid $navBarGreen;
}

.offer-portion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-text {
  margin: .25em;
}

.recent-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  color: $navBarGreen;
  border: 2px solid $green;

  background: $white;
  padding: 1em;
}
