@import '../../sass/mixins';
@import '../../sass/variables';

.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.product-header {
  margin: .5em 0;
  text-align: center;
}

.product-text-container {
  padding: 1em;
  border: 2px solid green;
  margin-bottom: 1em;
  background: $gray;
}

.offer-portion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-text {
  margin: .25em;
}

.recent-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  color: $navBarGreen;
  background: $gray;
  padding: 1em;
}
