// List out variables here
$navBarGreen: rgb(26,100,25);
$navBarHover: #5f8c5f;
$navBarActive: #778e77;
$lightGreen: #b1dd9a;
$buttonBrown: #8F7068;
$buttonBrownHover: #c1997b;
$buttonBrownActive: #ddbca3;
$gray: #d0d2d0;
$green: #0cb60c;
$red: #e54500;
$white: #f5f5f5;
