@import '../../sass/mixins';
@import '../../sass/variables';

.profile-page {
  @include pageLayout($gray);
}

.button-selected {
  @include button($buttonBrownHover);
  margin: 1em;
  &:hover {
    @include button-hover($buttonBrownHover);
  }
  &:active {
    @include button-active($buttonBrownActive);
  }
}

.profile-button {
  @include button($buttonBrown);
  margin: 1em;
  &:hover {
    @include button-hover($buttonBrownHover);
  }
  &:active {
    @include button-active($buttonBrownActive);
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.user-name {
  margin: .5em 0;
  text-align: center;
}
