@import '../../sass/mixins';
@import '../../sass/variables';

.form-items {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  background-color: $lightGreen;
  width: 190px;
}

.form-space {
  margin: 1em;
}

.submit-button {
  @include button($navBarGreen);
  margin: 1em;
  &:hover {
    @include button-hover($navBarHover);
  }
  &:active {
    @include button-active($navBarActive);
  }
}