@import '../../sass/mixins';
@import '../../sass/variables';

.listing-section {
  @include listing(1em, $gray, 0 0 1em 0, column, 2px solid black)
  justify-content: center;
  align-items: center;
}

.user-listing {
  @include listing(.5em, $lightGreen, .5em 0, row, 2px solid $white)
  justify-content: space-around;
  width: 95%;
}

.listing-offer {
  // border-top: 2px solid green;
  border-bottom: 2px solid green;
  padding: .5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: $white;
  width: 90%;
  margin: .5em;
}

.listing-offer-section {
  @include listing(auto, $white, auto, column, none)
  align-items: center;
  width: 90%;
}

.offer-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.offer-contact-info {
text-align: center;
}

.accept {
  @include button($green);
}

.decline {
  @include button($red);
}

.section-heading {
  text-align: center;
  margin-bottom: 1em;
  border-bottom: 1px solid $navBarGreen;
}

.sub-section {
  @include subSection();
}

.contact-info {
  @include subSection();
  background: $navBarGreen;
  color: $white;
  padding: 0 1em;
}

.sub-heading {
  font-weight: bold;
  margin-bottom: 0;
}

.email {
  margin-top: 0;
}
