@import '../../sass/mixins';
@import '../../sass/variables';

.navBar {
  @include nav();
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  border-bottom: solid 2px black;
}

.navOptions {
  display: flex;
  align-content: center;
  height: 5em;
}

.logo {
  height: 4.5em;
  &:hover {
    border: 2px solid black;
  }
}

.navOptions {
  @include nav();
  width: 40%;
}

.link{
  @include button($navBarGreen);
  &:hover {
    @include button-hover($navBarHover);
  }
  &:active {
    @include button-active($navBarActive);
  }
}