@import '../../sass/mixins';
@import '../../sass/variables';

.navBar {
  @include nav();
  box-sizing: border-box;
  width: 100%;
  padding: 2em;
  border-bottom: solid 2px black;
}

.logo {
  height: 75px;
}
.navOptions {
  @include nav();
  width: 50%;
}

.link{
  @include button(rgb(26,100,25));
  &:hover {
    @include button-hover(#4e724e);
  }
  &:active {
    @include button-active(#778e77);
  }
}

.logOut{
  @include button(#aa4c21);
  &:hover {
    @include button-hover(#bd6c46);
  }
  &:active {
    @include button-active(#d89d82);
  }
}
